<dom-module id="tpl-dashboard">
<template>
<style>
    :host {
        width: 100%;
        height: 100%;
    }
</style>
    <h3><content select=".author"></content></h3>
    <content></content>
</template>
<script>
Polymer({
    is: 'tpl-dashboard',
    properties: {
        author: "Horacio Ibrahim",
        message: "Thanks for using..."
    },
    /* Polymer callbacks
    -------------------------------------------*/    
    ready: function(){
      // call when init this element  
    },
    /* "Public" methods
    -------------------------------------------*/    
    play: function() {
        this._beforePlay();
        this.style.background = "green";
    },
    /* "Private" (or not must be used) methods
    -------------------------------------------*/    
    _beforePlay: function() {
        this.style.background = "yellow";
    }
});
</script>
</dom-module>